/* css position: static (default), relative, absolute, fixed, sticky */
.container{
    border: 2px solid black;
    background-color: khaki;
    height: 3444px;
}

.box{
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#box3{
    /* relative: Position of the element, relative to its normal position and leave a gap at its normal postion*/
    /* position: relative; */
    /* top: 34px;
    left: 34px; */

    /* absolute: Position of the element, relative to the position of its first parent */
    /* position: absolute; */
    /* top: 34px;
    left: 34px; */

    /* fixed: Position of the element, relative to the browser window */
    /* position: fixed;
    right: 4px;
    bottom: 2px; */

    position: sticky;
    top: 3px;
    
}